html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #131518;
    font-family: "Overpass", sans-serif;
}
.attribution {
    color: #ffffff;
    margin-top: 12px;
    text-align: center;
}
.attribution a {
    color: hsl(25, 97%, 53%);
}